body
{
	background-color: dimgray;
}

div.un
{
  background-color: yellow;
  padding: 3px 5px 3px 5px;
}
div.deux
{
	background-color: red;
	padding: 3px 5px 3px 5px;
}
div.trois
{	border : solid black 2px;
	background-color: blue;
	padding: 3px 5px 3px 5px;
}
div.quatre
{
	background-color: green;
	padding: 3px 5px 3px 5px;
}