#im1
{
	float:right;
}

HTML
{
	background-color: d1d1d1;
}

ul
{
	background-color:f5deb4;
}

img 
{
	height:  : 200px;
}

td
{
	padding : 0 0 0 60;
}
table
{
	border :1px solid black;
}
a 
{

	color : darkgreen; 
}

p.note
{
	background-color: yellow;
	font-size: x-small;
	padding: 0 0 0 0;
	margin:50 32% 0 60;
}