div {
	
	/*border-radius: 5px;*/
}

body {
	width : 100%;
	padding : 0;
	margin : 0;
	background-color: #B9D7D9 ;
}
#header {
	z-index: 1;
	
	width: 100%;
	/*! margin-top: -20px; */
	height: 45px;
	background-color: #668284;
	/*! margin-bottom: 10px; */
	
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.voirTP
{   margin : 20px;
	position : relative;
	left : 30%;


}
.voirTP a:link
{
	color:black;
}
.tp 
{ 
	width: 250px;
  position : relative;
	display : inline-block;
	margin : 15px;
	margin-right : 0;
	/*! width : 100px; */
	/*! height : 100px; */
	margin-left: 20px;
	padding : 10px;
	
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.contenu 
{	max-width: 90%;
	margin-top: 50px;
	padding: 20px;
	margin: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.contenu img
{	max-width: 90%;
	
}
.tp p{
	width : 250px;

}

.tp img{ 
	
	width : 100px;
	height : 100px;
	

}
.tp:nth-child(2n){
	background : #e3dfd2;
}
.tp:nth-child(2n+1){
	background : #c3bc9d;
}

li {
	list-style-type: square;
}

#header a:hover {
	font-weight: bold;
}

.cadreG
{
	z-index: 50;
	position:  absolute;
	float: left;
	top : 45px;
	border-top : 1px white solid;
	width: 150px;
	min-height: 100%;
	background-color: #B9D7D9;
	
}
.cadreG ul {
	padding : 0 ;
	
	
	
	text-decoration: none;
	list-style-type:  none;
	padding : 0 5px;
	
}
.cadreG a
{
	text-decoration:none;
	color:black;
}
.cadreG ul li {
	width: 100%;
	text-align: center;
	list-style-type:  none;
	margin : 5px 0;
	text-decoration: none;
	
}
.cadreG ul li:hover {
	 background: #668284;
	color : #B9D7D9 ;
}
.cadreG ul li:first-child {
	
	border-bottom : solid 3px #668284 ;
	
}

.cadreD{
	
	background-color: #F4EBC3;
	display:  block;
	position: absolute ;
	border-top : solid 1px white;
	width: 88%;
	margin-left :  150px ;
	min-height: 100%;
	/*
	
	float: right;
	margin-top: 50px;
	 margin-left:140px;
	
	height: 80%;
	
	position:   static;
	margin-bottom: 10px;
	*/
}



#footer {
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	float:bottom;
}

#footer p {
	position: relative;
	padding-top: 80%;
}