
 html, body 
 { 
 	height: 100%; 
 	margin: 0; 
 	padding: 0; 
 }
 
 #map 
 { 
  margin-top:0em;
 	height: 90%; 
  width: 70%;
  
 }
#opts
{
  width:70%;
}
 #noms
 {
   width:70%;
   height:10em;
 	 overflow:scroll;
 }

.display
{
	display : none;
}