 /* Dropdown Button */

/*table {
	border-radius: 6px;
	border-width: 2px;
	border-color: green;
	border-style: solid;
}

tr {
        border-radius: 6px;
        border-width: 2px;
        border-color: green;
        border-style: solid; 
}*/
td {
    border-bottom: 1px solid #ddd;
    padding: 10px; 
}

table {
	border-radius: 6px;
	width: 500px;
	border-width: 2px;
	border-color: green;
	border-style: solid;
	padding: 10; 
}

th {
	height: 75px;
}
 
tr:hover {background-color: #f5f5f5}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 10em;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.sdropdown
{   
    display: inline;
    position: relative;
    /*! min-width: 10em; */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;
    background-color: #4CAF50;
    /*! width: 100%; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    z-index:1;
    display: none;
    position: relative;
    background-color: #f9f9f9;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    overflow:auto;
    width: 10em;
}


/* Links inside the dropdown */
.dropdown-content a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*remove the bullets and the margins and padding from the list:*/
 .menuul  {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*! width: 100%; */
}
.menuli 
{
    float: left;
}

.menuli:last-child {
    border-right: none;
    float:right;
}
div
{
    
   max-width: -moz-max-content;
    display : -moz-grid;
    
    
}
.barMenu
{
    height: 1em;
    top:5em;
    
    background-color: #4CAF50;
    
    
}
.sync{
      width:50%;
    background-color: blackgrey
body
{
    
    
    margin : 20px 0 0 0;
}
